################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UNUMSelfPwdReset/obj/Release/net6.0/UNUMSelfPwdReset.GeneratedMSBuildEditorConfig.editorconfig
/UNUMSelfPwdReset/obj/Release/net6.0/UNUMSelfPwdReset.assets.cache
/UNUMSelfPwdReset/obj/Debug/net6.0/UNUMSelfPwdReset.pdb
/UNUMSelfPwdReset/obj/Debug/net6.0/UNUMSelfPwdReset.genruntimeconfig.cache
/UNUMSelfPwdReset/obj/Debug/net6.0/UNUMSelfPwdReset.dll
/UNUMSelfPwdReset/obj/Debug/net6.0/UNUMSelfPwdReset.csproj.FileListAbsolute.txt
/UNUMSelfPwdReset/obj/Debug/net6.0/staticwebassets.pack.json
/UNUMSelfPwdReset/obj/Debug/net6.0/staticwebassets.development.json
/UNUMSelfPwdReset/obj/Debug/net6.0/staticwebassets.build.json
/UNUMSelfPwdReset/bin/Debug/net6.0/UNUMSelfPwdReset.staticwebassets.runtime.json
/UNUMSelfPwdReset/bin/Debug/net6.0/UNUMSelfPwdReset.pdb
/UNUMSelfPwdReset/bin/Debug/net6.0/UNUMSelfPwdReset.dll
/.vs/UNUM/v17/.suo
/.vs/UNUM/config/applicationhost.config
/.vs/slnx.sqlite
/.vs/UNUM/FileContentIndex/e4257bda-6a01-427f-8410-b61370a7231d.vsidx
/UNUMSelfPwdReset/obj/Debug/net6.0/project.razor.vs.json
/.vs/VSWorkspaceState.json
/.vs/UNUM-V2/v17/workspaceFileList.bin
/.vs/UNUM/v17/.futdcache.v2
/.vs/UNUM/FileContentIndex/write.lock
/.vs/UNUM/FileContentIndex/merges/425f5090-60c8-4f5a-889f-39bf62ce1793.vsidx
/.vs/UNUM/FileContentIndex/merges/30ccc556-b69f-44f0-bb74-e4b0aca2f083.vsidx
/.vs/UNUM/FileContentIndex/e295c253-96b3-4ed3-a270-8d8ccb996421.vsidx
/.vs/UNUM/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/unum.projects.v5.2
/.vs/ProjectEvaluation/unum.metadata.v5.2
/.vs/UNUM/FileContentIndex/e4cbd1f3-c2ca-4366-8536-ab38f54d1f68.vsidx
